<!DOCTYPE html>
<html>
<head>
  <title>CalendarToQueue</title>
  <%= stylesheet_link_tag    "calendar_to_queue/application", media: "all" %>
  <%= javascript_include_tag "calendar_to_queue/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
