<!DOCTYPE html>
<html>
<head>
  <title>Calendar2queue</title>
  <%= stylesheet_link_tag    "calendar2queue/application", media: "all" %>
  <%= javascript_include_tag "calendar2queue/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
